<script setup lang="ts">
import { ref } from "vue";
import type ListTable from "../../types/ListTable";
// import { mdiCheckboxBlankCircle } from "@mdi/js";
import { useTableListStore } from "../../stores/list_table";
import { useCleanStore } from "../../stores/clean";
import { onMounted } from "vue";
const tableStoreClean = useTableListStore();
const cleanStore = useCleanStore();

onMounted(async () => {
    await tableStoreClean.getTable();
});

const drawer = ref(false);

const Add = (tables: ListTable) => {
    cleanStore.Additem(tables);
    cleanStore.dialog = true;
    drawer.value = true;
    cleanStore.dialog = false;
};

const cleaned = () => {
    cleanStore.changeTableStatus();
    drawer.value = false;
    tableStoreClean.getTable;
};

setInterval(tableStoreClean.getTable, 1000);
</script>

<template>
    <v-container>
        <v-row class="justify-center">
            <v-card class="ma-5" min-height="830px" width="1300px" color="#EEF2E6" style="height: 100%; padding-bottom: 30px;">
                <v-row class="justify-center">
                    <v-card class="pa-5 ma-2 text-h4 text-center" width="1300px" color="#1C6758"
                        style="color: white"><label>ทำความสะอาด</label></v-card>
                </v-row>
                <v-row class="justify-center">
                    <v-col cols="13" md="0" v-for="item of tableStoreClean.tables" :key="item.id">
                        <v-card class="ma-3 d-flex justify-center" height="200px" width="200px" color="#EFF669"
                            v-if="item.status === 'yellow'" @click="Add(item)">
                            <v-card-title class="d-flex align-center justify-center text-h2"><label>{{ item.type }}{{
                                item.Number }}</label>
                            </v-card-title>
                        </v-card>
                    </v-col>
                </v-row>

                <v-navigation-drawer v-model="drawer" location="right" style="width: 500px; background-color: #EEF2E6;" temporary>
                    <v-card style="padding-bottom: 20px; background-color: transparent">
                        <v-card-title class="d-flex align-center justify-center ma-6">
                            <span class="text-h2"><label>{{ cleanStore.ItemDialog.type
                            }}{{ cleanStore.ItemDialog.Number }}</label></span>
                        </v-card-title>
                        <v-card-text class="d-flex align-center justify-center text-h4"><label class="seat">สถานะ:
                            </label><label class="color">รอทำความสะอาด</label>
                        </v-card-text>
                        <v-card-text class="d-flex align-center justify-center text-h4">
                            <label class="seat">จำนวนที่นั่ง:</label>
                            <p v-if="cleanStore.ItemDialog.type === 'A'">&nbsp;2</p>
                            <p v-if="cleanStore.ItemDialog.type === 'B'">&nbsp;4</p>
                            <p v-if="cleanStore.ItemDialog.type === 'C'">&nbsp;6</p>
                            <p v-if="cleanStore.ItemDialog.type === 'D'">&nbsp;8</p>
                        </v-card-text>
                        <v-card-actions class="justify-center">
                            <v-btn style="background-color: #ffb100" size="x-large"
                                @click="cleaned"><label class="clean">Cleaned</label></v-btn>
                        </v-card-actions>
                    </v-card>
                </v-navigation-drawer>
            </v-card>
        </v-row>
    </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");

label {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bold;
    font-size: 48px !important;
}

.seat,
p {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bold;
    font-size: 24px !important;
}

.clean {
    font-size: 20px !important;
    color: black;
}

.color {
    font-size: 24px !important;
    color: #ffb100;
    padding-left: 10px;
}
</style>
