<script setup lang="ts">
import { computed } from "vue";
import { onMounted } from "vue";
import type ListTable from "../../types/ListTable";
import { useTableListStore } from "@/stores/list_table";
import { usePaymentStore } from "@/stores/payment";
import { useFoodStore } from "@/stores/food";
import { useMessageStore } from "@/stores/message";
const tableStorePay = useTableListStore();
const paymentStore = usePaymentStore();
const foodStore = useFoodStore();
const messageStore = useMessageStore();

onMounted(async () => {
  await tableStorePay.getTable();
  await paymentStore.getTable();
});

const callPay = async (tables: ListTable) => {
  await paymentStore.getOrderByTable(tables.id!);
  await paymentStore.Additem(tables);
};
console.log(paymentStore.editedPay.received)
const payment = () => {
  if (paymentStore.editedPay.received - discountPay.value >= 0) {
    paymentStore.editedPay.order = paymentStore.orderId;
    paymentStore.editedPay.moneyChange = paymentStore.editedPay.received - discountPay.value;
    paymentStore.editedPay.netPrice = foodStore.sum - paymentStore.editedPay.discount;
    paymentStore.editedPay.price = foodStore.sum;
    console.log(paymentStore.editedPay)
    paymentStore.savePayment();
    paymentStore.changeTableStatus();
    paymentStore.editedOrder.id = paymentStore.orderId;
    paymentStore.editedOrder.table_id = paymentStore.tableId;
    paymentStore.updateOrder();
    paymentStore.drawer = false;
    paymentStore.editedPay.received = 0;
    paymentStore.editedPay.discount = 0;
  }else{
    messageStore.showError("ไม่สามารถชำระเงินได้");
  }
}

const discountPay = computed(function () {
  const discount = foodStore.sum - paymentStore.editedPay.discount;
  if (discount >= 0) {
    return discount;
  } else {
    return 0;
  }
})

const moneyChangePay = computed(function () {
  const moneyChange = paymentStore.editedPay.received - discountPay.value;
  if (moneyChange >= 0) {
    return moneyChange;
  } else {
    return 0;
  }
})

setInterval(tableStorePay.getTable, 1000);
setInterval(paymentStore.getTable, 1000);

</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-card class="ma-5" min-height="820px" width="1300px" color="#EEF2E6" style="height: 100%; padding-bottom: 30px;">
        <v-row class="justify-center">
          <v-card class="pa-5 ma-2 text-h4 text-center" width="1300px" color="#1C6758"
            style="color: white"><label>เช็คบิล</label></v-card>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="13" md="0" v-for="item of tableStorePay.tables" :key="item.id">
            <v-card class="ma-3 d-flex justify-center" height="200px" width="200px" color="#FF4A4A"
              v-if="item.status === 'red'" @click="callPay(item)">
              <v-card-title class="d-flex align-center justify-center text-h2"><label>{{ item.type }}{{ item.Number
              }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-navigation-drawer v-model="paymentStore.drawer" location="right"
            style="width: 500px; background-color: #EEF2E6;" temporary>
            <v-card style="padding-bottom: 20px; background-color: transparent">
              <v-card-text>
                <v-container>
                  <v-card-title class="d-flex align-center justify-center ma-6">
                    <label><span>{{ paymentStore.ItemDialog.type
                    }}{{ paymentStore.ItemDialog.Number }}</span></label>
                  </v-card-title>
                  <v-card-text class="d-flex align-center justify-center text-h5">
                    <lebel class="seat">สถานะ:</lebel>
                    <label class="color">รอชำระเงิน</label>
                  </v-card-text>
                  <v-card-text class="d-flex align-center justify-center text-h5"><label
                      class="seat">จำนวนที่นั่ง:</label>

                    <p v-if="paymentStore.ItemDialog.type === 'A'">&nbsp;2</p>
                    <p v-if="paymentStore.ItemDialog.type === 'B'">&nbsp;4</p>
                    <p v-if="paymentStore.ItemDialog.type === 'C'">&nbsp;6</p>
                    <p v-if="paymentStore.ItemDialog.type === 'D'">&nbsp;8</p>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-col cols="12">
                    <v-table class="table">
                      <thead>
                        <tr>
                          <th>จำนวน</th>
                          <th>ชื่อ</th>
                          <th>ราคา</th>
                          <th>ราคารวม</th>
                        </tr>
                      </thead>
                      <tbody v-for="item of foodStore.confirmList" :key="item.id">
                        <tr v-if="item.numConfirm > 0">
                          <td>{{ item.numConfirm }}</td>
                          <td>{{ item.menu.name }}</td>
                          <td>{{ item.menu.price }}</td>
                          <td>{{ item.menu.price * item.numConfirm }}</td>
                        </tr>
                      </tbody>
                    </v-table>
                  </v-col>
                  <v-divider></v-divider>
                  <v-table class="table">
                    <thead v-for="item of paymentStore.PayOrder" :key="item.id">
                      <tr>
                        <td width="25%">ราคารวม:</td>
                        <td class="cttd">{{ foodStore.sum }}</td>
                        <td width="25%">ราคาสุทธิ:</td>
                        <td class="cttd">{{ discountPay }}</td>
                      </tr>
                      <tr>
                        <td>ส่วนลด:</td>
                        <td><input class="sinput" width="20%" type="number" min="0" id="disCount" placeholder="" required
                            v-model="paymentStore.editedPay.discount" /></td>
                        <td>เงินที่ได้รับ:</td>
                        <td><input class="sinput" type="number" min="0" id="payPal" v-model="paymentStore.editedPay.received"
                            placeholder="" /></td>
                      </tr>
                      <tr>
                        <td>เงินทอน:</td>
                        <td class="cttd">{{ moneyChangePay }}</td>
                      </tr>
                    </thead>
                  </v-table>
                  <v-card-actions class="justify-center">
                    <v-btn size="x-large" class="btng" @click="payment">Pay</v-btn>
                  </v-card-actions>
                </v-container>
              </v-card-text>
            </v-card>
          </v-navigation-drawer>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");

label {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 48px !important;
}

.sinput {
  width: 75px;
  height: 40px;
}

.cttd {
  text-align: center;
}

.seat,
p {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 24px !important;
}

.pay {
  font-size: 20px !important;
  color: black;
}

.table {
  background: transparent;
}

.color {
  font-size: 24px !important;
  color: #ff4a4a;
  padding-left: 10px;
}

th,
td {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold !important;
  font-size: 15px !important;

}

input {
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100px;
}

.btng {
  background-color: #ff4a4a;
  width: 110px;
  font-size: 18px;
}

.btnr {
  font-weight: bold;
  color: white;
  background-color: #ff4a4a;
  width: 85px;
  font-size: 18px;
}
</style>