<script lang="ts" setup>
import { useSalaryStore } from "@/stores/salary";
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import SalaryDialog from "./SalaryDialog.vue";
import 'sweetalert2/dist/sweetalert2.min.css';
import Swal from "sweetalert2";
import axios from "@/services/axios";
import user from "@/services/user";

const backendURL = import.meta.env.VITE_BACKEND_URL;

const userString = localStorage.getItem("user");
const userWOW = userString ? JSON.parse(userString) : null;

async function saveLog(amount : Number ,paidTo: Number) { // เอาไว้สร้าง database ตอนที่มันไม่มี
      try {
        const response = await axios.post(backendURL+"/salarylog", {

        "amount": amount,
        "paidBy": userWOW.id,
        "user" : paidTo

        })
        console.log(response.data)
      } catch (error) {
        console.log("WoW")
      }
    }

function formatNumber(x: { toLocaleString: (arg0: string) => any; }) {
  return x.toLocaleString("en-US");
}

const salaryStore = useSalaryStore();
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
  await salaryStore.getSalary();
});
var dayWork = 0
setInterval(userStore.getUsers, 1000);
setInterval(salaryStore.getSalary, 1000);

let total = 0;
</script>
<template>

  <SalaryDialog></SalaryDialog>
  <v-container fluid fill-height class="d-flex justify-center align-center">
    <v-row class="justify-center">
      <v-col>
        <v-card class="ma-5" color="#EEF2E6">
          <v-row class="justify-center">
            <v-card class="pa-5 ma-2 text-h4 text-center" width="100%" color="#1C6758"
              style="color: white;"><label>ข้อมูลการจ่ายเงินเดือน</label></v-card>
          </v-row>
          <v-table id="table" style="padding-top: 10px;">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rank</th>
                <th>Income (day)</th>
                <th>Date Work (day)</th>
                <th>Bonus</th>
                <th>Deduct</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of salaryStore.salary" :key="item.id">
                <td>{{ item.user?.id }}</td>
                <td>{{ item.user?.fname }} {{ item.user?.lname }}</td>
                <td>{{ item.user?.type }}</td>
                <td>{{ item.user?.rate }}฿</td>
                <td>{{ dayWork = Math.floor(item.work/60/8) }}</td>
                <td style="background-color: #9BCB3C; color: white;">{{ item.bonus }}฿</td>
                <td style="background-color: #FF4A4A; color: white;">{{ item.deduct }}฿</td>
                <td>{{ total = formatNumber(Number(item.user?.rate) * dayWork + item.bonus - item.deduct) }}฿</td>
                <!-- <td>{{ item.password }}</td> -->
                <td>
                  <v-btn icon round class="btno" @click="salaryStore.editSalary(item)"> <!-- item คือ ข้อมูลที่เราจะ EDIT -->
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn icon round class="btnoo" @click="
                  Swal.fire({
                    title: 'ยืนยันการจ่ายเงิน ให้' +  item.user?.fname +  ' ?',
                    text: 'เมื่อกดแล้วข้อมูลจะหายไป โปรดแน่ใจว่าคุณจ่าย '+ formatNumber(Number(item.user?.rate) * dayWork + item.bonus - item.deduct) + ' THB เงินให้เขาแล้ว' ,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ใช่',
                    cancelButtonText: 'ไม่ใช่'
                  }).then((result) => {
                    if (result.isConfirmed) {
                      // ทำอะไรก็ตามที่ต้องการหลังจากกด OK
                      Swal.fire(
                        'ดำเนินการแล้ว !',
                        'คุณได้ทำการจ่ายเงินเดือนให้เขาแล้ว' ,
                        'success'
                      )

                      salaryStore.deleteSalary(item.id)
                      saveLog( (item.user?.rate) * dayWork + item.bonus - item.deduct ,item.user?.id)
                    }
                  })"> <!-- item คือ ข้อมูลที่เราจะ EDIT -->
                    <v-icon>mdi-currency-btc</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");

label {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 40px !important;
}

th {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px !important;
  text-align: center;
  font-weight: bold !important;
}

td {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px !important;
  font-weight: bold;
  text-align: center;
}

#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  padding: 10px;
  text-align: center;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1c6758;
  color: white;

}

#table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFEFCF;
  color: black;
}

.btng {
  background-color: #92D050;
  font-weight: bold !important;
  font-size: 16px !important;
}

.btnr {
  background-color: #FF4A4A;
}

.btno {
  background-color: #FFC000;
}
.btnoo {
  background-color: #30d6af;
}
</style>