<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card color="#EDEADE">
      <v-row class="justify-center">
            <v-card class="pa-5 ma-2 text-h4 text-center" width="100%" height="80px" color="#1C6758"
              style="color: white"><label>พนักงาน</label>
            </v-card>
        </v-row>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="First Name*"
                  required
                  v-model="userStore.editedUser.fname"
                  :rules="[
                    (v) => !!v || 'First Name is required',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Last Name*"
                  required
                  v-model="userStore.editedUser.lname"
                  :rules="[
                    (v) => !!v || 'Last Name is required',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-combobox
                required
                v-model="userStore.editedUser.type"
                :rules="[
                    (v) => !!v || 'Type is required',
                  ]"
                  label="Rank*"
                  :items="['Owner','Chef','Cashier','Cleaning','Receptionist','Waitress','Manager','Backend']"
                ></v-combobox>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Rate*"
                  required
                  v-model="userStore.editedUser.rate"
                  :rules="[
                    (v) => !!v || 'Rate is required',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-combobox
                required
                v-model="userStore.editedUser.gender"
                :rules="[
                    (v) => !!v || 'Gender is required',
                  ]"
                  label="Gender*"
                  :items="['M','F']"
                ></v-combobox>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  type="number"
                  label="Telephone*"
                  required
                  v-model="userStore.editedUser.tel"
                  :rules="[
                  (v) => !!v || 'Telephone is required',
                  (v) => v.length == 10 || 'Telephone is 10 number',
                  ]"
              ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-file-input
                  v-model="userStore.editedUser.files"
                  accept="image/*"
                  label="File input"
                  ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Username*"
                  required
                  v-model="userStore.editedUser.username"
                  :rules="[
                    (v) => !!v || 'Username is required',
                    (v) => v.length >= 4 || 'Username must be more than or equal 4 characters',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  type="password"
                  required
                  v-model="userStore.editedUser.password"
                  :rules="[
                    (v) => !!v || 'Password is required',
                    (v) =>
                      /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(
                        v
                      ) || 'Password is not Minimum 8 characters, One capital letter, Special character, Number',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn size="x-large" class="btngr" @click="userStore.dialog = false">Close</v-btn>
        <v-btn size="x-large" class="btng" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
  label {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bold;
    font-size: 28px !important;
  }
  /* .dialog {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bold !important;
    font-size: 18px !important;
  } */
  .btng {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bold;
    background-color: #9BCB3C;
    width: 80px;
}

.btngr {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bold;
    background-color: #C0C0C0;
    width: 80px;
}
</style>
