<script setup lang="ts">
import { useStockStore } from '@/stores/stock';
import { onMounted, ref } from 'vue';
import StockDelete from "./StockDelete.vue";
import StockDialog from './StockDialog.vue';
import CheckStockDialog from './CheckStockDialog.vue';
import StockBuyDialog from './StockBuyDialog.vue';



const TextField = ref(false);
const stockStore = useStockStore();
onMounted(async () => {

  await stockStore.getStocks();
});

function showTextField() {
  TextField.value = true;
}

setInterval(stockStore.getStocks, 1000);
</script>

<template>
  <StockDialog></StockDialog>
  <StockDelete></StockDelete>
  <CheckStockDialog></CheckStockDialog>
  <StockBuyDialog></StockBuyDialog>
  <v-container fluid fill-height class="d-flex justify-center align-center">
    <v-row class="justify-center">
      <v-col>
        <v-card class="ma-5" color="#EEF2E6">
          <v-row class="justify-center">
            <v-card class="pa-5 ma-2 text-h4 text-center" width="100%" color="#1C6758" style="color: white"><label
                style="padding: 10px;">ข้อมูลสต๊อก</label>
              <v-icon color="white" @click="showTextField()">mdi-magnify</v-icon>
              <v-text-field class="input" label="ค้นหาข้อมูลในสต๊อก" v-model="stockStore.search" v-if="TextField"
                @blur="TextField = false"></v-text-field></v-card>
          </v-row>
          <v-table id="table" style="padding-top: 10px;">
            <thead>
              <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Minimum</th>
                <th>Remaining</th>
                <th>Unit</th>
                <th>Price</th>
                <th width="25%">
                  <span style="padding-right: 10px"><v-btn size="x-large" class="btng" @click="stockStore.dialog = true">
                      <v-icon>mdi-plus</v-icon>New
                    </v-btn>
                  </span>
                  <span style="padding-right: 10px"><v-btn size="x-large" class="btnb" @click="stockStore.dialogCheck = true">
                      <v-icon>mdi-note-edit</v-icon>Check
                    </v-btn>
                  </span>
                  <span style="padding-right: 10px"><v-btn size="x-large" class="btnbg" @click="stockStore.dialogBuy = true">
                      <v-icon>mdi-account-cash</v-icon>Buy
                    </v-btn>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of stockStore.stocks" :key="item.id">
                <!-- <td>{{ item.id }}</td> -->
                <td>{{ item.name }}</td>
                <td>{{ item.minimum }}</td>
                <td>{{ item.remaining }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.price }}฿</td>
                <td class="text-center">
                  <span style="padding-right: 10px">
                    <v-btn icon round class="btno" @click="stockStore.editStock(item)">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </span>
                  <span style="padding-left: 10px"><v-btn icon round class="btnr" @click="stockStore.dialogDelete(item)">
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </span>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");

label {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 48px !important;
}

.input {
  font-family: "Noto Sans Thai", sans-serif;
}

th {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px !important;
  text-align: center;
  font-weight: bold !important;
}

td {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px !important;
  font-weight: bold;
  text-align: center;
}

#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  padding: 10px;
  text-align: center;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1c6758;
  color: white;

}

#table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFEFCF;
  color: black;
}

.btng {
  background-color: #92D050;
  font-weight: bold !important;
  font-size: 16px !important;
}

.btnb {
  background-color: #00B0F0;
  font-weight: bold !important;
  font-size: 16px !important;
}

.btnbg {
  background-color: #30D6AF;
  font-weight: bold !important;
  font-size: 16px !important;
}

.btnr {
  background-color: #FF4A4A;
}

.btno {
  background-color: #FFC000;
}
</style>