<script setup lang="ts">
import { onMounted, ref } from "vue";
import MenuItem from "./MenuItem.vue";
import FoodDialog from "./FoodDialog.vue"
import FoodList from "./FoodList.vue"
import { useFoodStore } from "@/stores/food";
import OrderItem from "./OrderItem.vue";
import FoodDelete from "./FoodDelete.vue";

const foodStore = useFoodStore();
const selected = ref(0);
const check = ref(false)
const urlParams = new URLSearchParams(location.search);
const uuid = urlParams.get('order')
foodStore.uuid = uuid!;
console.log(uuid)
onMounted(async () => {
  if(uuid != null){
  await foodStore.getOrderbyUuid(foodStore.uuid)
  await foodStore.getBaskets(foodStore.order);
  console.log('55  '+foodStore.order)
  }

});

function getOrder(){
  if(uuid != null){
  foodStore.getBaskets(foodStore.order);
  foodStore.getOrderbyUuid(foodStore.uuid)
  }
  if(foodStore.orderitem?.status != 'กำลังใช้งาน'){
    check.value = false;
    selected.value = 0;
  }else{
    check.value = true;
  }
}
setInterval(getOrder, 1000);
</script>
<template>
  <MenuItem v-if="selected === 0 "></MenuItem>
  <FoodList v-if="selected === 1 "></FoodList>
  <OrderItem v-if="selected === 2"></OrderItem>
  <FoodDialog v-if="uuid !== null && check"></FoodDialog>
   <v-bottom-navigation v-model="selected" v-if="uuid !== null && check">
    <v-btn >
      <v-icon icon="mdi-food"></v-icon><label>เมนูอาหาร</label>
    </v-btn>
    <v-btn >
      <v-badge color="green" overlap v-if="foodStore.baskets.length > 0" :content="foodStore.baskets.length">
        <v-icon icon="mdi-basket"></v-icon></v-badge
      >
      <v-icon icon="mdi-basket" v-else ></v-icon>
      <label>ตะกร้าอาหาร</label>
    </v-btn>
    <v-btn>
      <v-icon icon="mdi-clipboard-list-outline"></v-icon
      ><label>รายการอาหาร</label>
    </v-btn>
  </v-bottom-navigation>
  <FoodDelete></FoodDelete>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
</style>