<script setup lang="ts">
import { useFoodStore } from "@/stores/food";
import { useMenuStore } from "@/stores/menu";
import type Menu from "@/types/Menu";
import { onMounted,ref } from "vue";


const backendURL = import.meta.env.VITE_BACKEND_URL;
const menuStore = useMenuStore();
const foodStore = useFoodStore();
const selectedOt = ref('ทั้งหมด');

onMounted(async () => {
  await menuStore.getMenus();
});
function setOt(option: string){
  selectedOt.value = option;
}

function showdialog(item :Menu){
  foodStore.menuiItem = item
  foodStore.dialog = true
}

setInterval(menuStore.getMenus, 1000);
</script>


<template>
  <v-app-bar>
    <v-sheet max-width="100%" color="#ffffff00">
      <v-slide-group>
        <v-slide-group-item v-for="item of foodStore.options" :key="item.id">
          <v-btn
            text
            class="ma-2"
            @click="setOt(item.Optionname)"
            style="background-color: #d44000"
            ><label class="type">{{ item.Optionname }}</label>
          </v-btn>
        </v-slide-group-item>
      </v-slide-group>
    </v-sheet>
  </v-app-bar>
  <v-container>
    <v-text-field class="input" label="ค้นหาเมนูอาหาร" v-model="menuStore.search"></v-text-field>
    <v-row v-for="item of menuStore.menus" :key="item.id">
      <v-col
        v-if="
          item.status === 'on' && (item.type === selectedOt || selectedOt == 'ทั้งหมด' )
        "
      >
        <v-card
          height="90px"
          @click="showdialog(item)"
          style="background-color: #ffefcf"
        >
          <div class="d-flex">
            <v-img
              max-height="90"
              min-height="90"
              max-width="90"
              min-width="90"
              :src="`${backendURL}/menus/image/${item.image}`"
              cover
            ></v-img>
            <div>
              <v-card-title class="text-body-1"
                ><label>{{ item.name }}</label>
              </v-card-title>
              <v-card-text class="text-green text-body-2">
                <label class="price"> ฿: {{ item.price }}</label>
              </v-card-text>
            </div>
          </div>
          <v-card-text color="secondary" class="text-right">+</v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <div style="padding: 15px"></div>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.price {
  color: green;
  font-size: 15px;
}

.type {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.input {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold !important;
}
</style>
